<h1> Test the Text. </h1>

<!-- ctrl + shift + `   <%#  %>  -->
<!-- pe, er-->

<ul>
    <%@cats.each do |cat|  %>
    <br>

    <a href="<%= cat_url(cat.id) %>">Go to <%= cat.name %>'s Page </a>
    <br>
    <a href="<%=edit_cat_url(cat.id)%>">Edit KitKat</a>
    <br>
    <br>
        <li>ID: <%= cat.id %> </li>
        <li>Name: <%= cat.name %></li>
        <li>Color: <%= cat.color %></li>
        <li>Sex: <%= cat.sex %></li>
        <li>Descrip: <%= cat.description %></li>
        <li>Birth_day: <%= cat.birth_date %></li>
        <li>Age: <%= cat.age %></li>
    <br>
    <% end%>
</ul>
